<%- model_class = CtrlQualit -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:cquality_value) %></th>
      <th><%= model_class.human_attribute_name(:cquality_date) %></th>
      <th><%= model_class.human_attribute_name(:sub_cat_ctrl_qualit_id) %></th>
      <th><%= model_class.human_attribute_name(:product_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ctrl_qualits.each do |ctrl_qualit| %>
      <tr>
        <td><%= link_to ctrl_qualit.id, ctrl_qualit_path(ctrl_qualit) %></td>
        <td><%= ctrl_qualit.cquality_value %></td>
        <td><%= ctrl_qualit.cquality_date %></td>
        <td><%= ctrl_qualit.sub_cat_ctrl_qualit_id %></td>
        <td><%= ctrl_qualit.product_id %></td>
        <td><%=l ctrl_qualit.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      ctrl_qualit_path(ctrl_qualit), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_ctrl_qualit_path(ctrl_qualit), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      ctrl_qualit_path(ctrl_qualit),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ctrl_qualit_path,
            :class => 'btn btn-primary' %>
